@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --app-primary: #2563eb;
  --app-primary-hover: #1d4ed8;
  --app-primary-light: #eff6ff;
  --app-primary-light-border: #dbeafe;

  /* Map Tailwind's default blue theme classes to our dynamic application theme colors */
  --color-blue-50: var(--app-primary-light) !important;
  --color-blue-100: var(--app-primary-light-border) !important;
  --color-blue-200: var(--app-primary-light-border) !important;
  --color-blue-300: var(--app-primary-light-border) !important;
  --color-blue-400: var(--app-primary) !important;
  --color-blue-500: var(--app-primary) !important;
  --color-blue-600: var(--app-primary) !important;
  --color-blue-700: var(--app-primary-hover) !important;
  --color-blue-800: var(--app-primary-hover) !important;
  --color-blue-900: var(--app-primary-hover) !important;
  --color-blue-950: var(--app-primary-light) !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-app-primary: var(--app-primary);
  --color-app-primary-hover: var(--app-primary-hover);
  --color-app-primary-light: var(--app-primary-light);
  --color-app-primary-light-border: var(--app-primary-light-border);
  
  /* Map Tailwind's default blue theme classes in the compiler */
  --color-blue-50: var(--app-primary-light);
  --color-blue-100: var(--app-primary-light-border);
  --color-blue-200: var(--app-primary-light-border);
  --color-blue-300: var(--app-primary-light-border);
  --color-blue-400: var(--app-primary);
  --color-blue-505: var(--app-primary);
  --color-blue-500: var(--app-primary);
  --color-blue-600: var(--app-primary);
  --color-blue-700: var(--app-primary-hover);
  --color-blue-800: var(--app-primary-hover);
  --color-blue-900: var(--app-primary-hover);
  --color-blue-950: var(--app-primary-light);
}

/* Dark mode styles */
html.dark {
  --background: #0b0f19;
  --foreground: #f3f4f6;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0mm !important;
  }
}
